footer{
    background: grey;
    width: 100%;
}
footer.container{
    padding: 22px 0 !important;
}
footer h5{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: black !important;
}
footer a{
    color:white !important;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}